<h1>Election Pool 2014</h1>

<h2>Govenor Races</h2>

<ul>
	<% @governor_races.each do |race| %>
	    <li>
	        <%= race %>
	    </li>
	<% end %>
</ul>

<h2>Senate Races</h2>

<ul>
	<% @senate_races.each do |race| %>
	    <li>
	        <%= race %>
	    </li>
	<% end %>
</ul>